.container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 5rem;
  background: linear-gradient(to right, var(--secondary), var(--primary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.container p {
  font-size: 3rem;
}

.tabsContainer {
  display: flex;
  gap: 2.5rem;
}

.tabsContainer button {
  background-color: var(--secondary);
  border: none;
  padding: 2rem;
  border-radius: 16px;
  font-size: 1.5rem;
}

.tabsContainer button:hover {
  background-color: var(--primary);
  transform: scale(0.9);
}
