.container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 5rem;
  background: linear-gradient(to right, var(--secondary), var(--primary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  opacity: 0;
  animation: slideUp 0.8s ease forwards;
}

.container p {
  font-size: 3rem;
  opacity: 0;
  animation: slideUp 0.8s ease forwards;
  animation-delay: 0.2s; /* Start after the heading */
}

.tabsContainer {
  display: flex;
  gap: 2.5rem;
  opacity: 0;
  animation: slideUp 0.8s ease forwards;
  animation-delay: 0.4s; /* Start after the paragraph */
}

.tabsContainer button {
  background-color: var(--secondary);
  border: none;
  padding: 2rem;
  border-radius: 16px;
  font-size: 1.5rem;
}

.tabsContainer button:hover {
  background-color: var(--primary);
  transform: scale(0.9);
}

/* Animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
