.container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 5rem;
  background: linear-gradient(to right, var(--secondary), var(--primary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  opacity: 0;
  animation: slideUp 0.8s ease forwards;
}

.container p {
  font-size: 3rem;
  opacity: 0;
  margin: 2rem 0;
  animation: slideUp 0.8s ease forwards;
  animation-delay: 0.2s;
}

.tabsContainer {
  display: flex;
  gap: 2.5rem;
  opacity: 0;
  animation: slideUp 0.8s ease forwards;
  animation-delay: 0.4s;
}

.tabsContainer button {
  background-color: var(--secondary);
  border: none;
  padding: 2rem;
  border-radius: 16px;
  font-size: 1.5rem;
}

.tabsContainer button:hover {
  background-color: var(--primary);
  transform: scale(0.9);
}

/* Animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* queries */
@media (max-width: 768px) {
  .container h1 {
    font-size: 4rem;
  }

  .container p {
    font-size: 2rem;
  }

  .tabsContainer {
    flex-direction: column;
    gap: 2rem;
  }

  .tabsContainer button {
    padding: 1rem 1.3rem;
    font-size: 1.5rem;
    min-width: 120px;
  }
}

@media (max-width: 480px) {
  .container h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .container p {
    font-size: 1.5rem;
  }

  .tabsContainer {
    gap: 0.8rem;
  }

  .tabsContainer button {
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    min-width: 100px;
  }
}
